# Telegram Bot Token
# Get it from @BotFather in Telegram: /newbot
TELEGRAM_BOT_TOKEN=...

# Open router API key (free)
LLM_API_KEY=sk-...
LLM_MODEL=openai/gpt-oss-20b:free
LLM_BASE_URL=https://openrouter.ai/api/v1/

# Giphy API key (free)
# Get it at https://developers.giphy.com -> Create App -> SDK
GIPHY_API_KEY=...
